<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon/hbui_e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{336,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon/hbui_e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{341,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon/hbui_e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{398,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon/hbui_e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{403,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{460,1},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{122,111},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/eye_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{289,101},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{280,67},{32,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slime_1/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{250,101},{18,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{105,111},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{302,67},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_1/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{187,101},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_2/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,91}</string>
                <key>spriteSourceSize</key>
                <string>{98,91}</string>
                <key>textureRect</key>
                <string>{{187,1},{98,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slime_2/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{465,50},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slime_2/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{319,98},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_2/eye_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{465,88},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_2/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{270,101},{22,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slime_2/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{280,1},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime_2/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{187,101},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_1/ta_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_1/ta_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{105,1},{108,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{508,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fea82ef09f8310598ff396e17452caa:8fdc288661cab97644c6883e5e519af0:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
