<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoe/attack/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{210,465},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{320,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,585},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{400,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{240,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{160,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{360,465},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{80,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,525},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{80,585},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{160,585},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{80,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/attack/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{240,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{400,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/standby/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{320,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/standby/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{160,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/standby/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,645},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aoe/standby/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{240,585},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{326,228},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{164,228},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{82,228},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{82,285},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{164,285},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{0,285},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/attack/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{408,228},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{0,228},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{0,57},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{164,57},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{328,57},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{246,57},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{82,57},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{406,0},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire/standby/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{326,0},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{246,0},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{246,228},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{410,57},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{80,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/attack/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{0,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{160,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{400,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{240,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{320,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{80,171},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{400,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{0,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{160,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{320,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice/standby/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{240,114},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{320,585},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{290,465},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{210,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,465},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{210,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{280,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{420,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,465},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,465},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/attack/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{350,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,405},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{420,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{386,285},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{316,285},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{246,285},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{280,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{350,345},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parents/standby/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{390,585},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{490,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43e20a84fee9bd54c765e28c7c3b7af6:eb7621c8971b95e34709e7aeb1c7e607:0e760ff8ddf4cb8c1511a36966d1a804$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
