<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orcgeneral/attack/attack0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-34}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{165,961},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-33}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{181,621},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-34}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{151,1037},{54,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/attack/attack0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-34}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,313},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-34}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{203,1013},{54,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/attack/attack0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-34}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{191,95},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-35}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{181,569},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-37}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{101,1037},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/attack/attack0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-36}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{101,979},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,973},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-37}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{173,859},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-39}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,725},{84,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-32}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{179,671},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{91,629},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/cast_1/cast_10031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-25}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{177,723},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/cast_1/cast_10034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-22}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{181,503},{64,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/cast_1/cast_10036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-40}</string>
                <key>spriteSize</key>
                <string>{94,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-43}</string>
                <key>spriteSize</key>
                <string>{94,44}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-41}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,361},{92,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-41}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,667},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-39}</string>
                <key>spriteSize</key>
                <string>{84,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,719},{84,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/cast_1/cast_10051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-35}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{173,805},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-34}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{165,961},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-37}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,779},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-37}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,825},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,775},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-37}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,827},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-37}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,873},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-42}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{89,687},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-42}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,417},{90,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/die/die0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-42}</string>
                <key>spriteSize</key>
                <string>{88,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,629},{88,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/stand/walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-32}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,875},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk/walk0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1023},{80,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk/walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-32}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,875},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk/walk0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-32}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{169,909},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk/walk0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{51,1023},{80,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk/walk0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-32}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,921},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk/walk0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-32}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{83,927},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,213},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,213},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,263},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,263},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,313},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_down/walk_down0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{92,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,161},{92,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-37}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,363},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-35}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,519},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-36}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,575},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-37}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{93,403},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-36}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{91,575},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rb/walk0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-35}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{91,519},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-41}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{189,143},{88,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-39}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{185,413},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-40}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{189,233},{88,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-41}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{189,323},{88,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-39}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,455},{88,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_rt/walk_rt0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-39}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{91,455},{88,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,105},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{193,1},{92,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{97,41},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,157},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,47},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcgeneral/walk_up/walk_up0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{95,99},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orcgeneral.png</string>
            <key>size</key>
            <string>{252,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbbdbda7086d4cdd5060a97168b83eb:c7515ecfe39d2160e8c24f81d0b4e2ed:0bcf4b13360507c43174f73b8eb18f74$</string>
            <key>textureFileName</key>
            <string>orcgeneral.png</string>
        </dict>
    </dict>
</plist>
