<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1/walk/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,5}</string>
                <key>spriteSourceSize</key>
                <string>{20,5}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1/walk/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,5}</string>
                <key>spriteSourceSize</key>
                <string>{20,5}</string>
                <key>textureRect</key>
                <string>{{20,0},{20,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet1.png</string>
            <key>size</key>
            <string>{40,5}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3a96f9ae0d744712dc47c22506eb3f:45c96e2ef81bffdf21ed1daf9fb8cb5f:4cd55f489520dc70ee11ad705325cb3a$</string>
            <key>textureFileName</key>
            <string>bullet1.png</string>
        </dict>
    </dict>
</plist>
