<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devilhighlord_fly/birth/birth0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-20}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{139,805},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-27}</string>
                <key>spriteSize</key>
                <string>{120,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{643,143},{120,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-31}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{105,429},{120,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-40}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{617,607},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,1031},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-32}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{897,1121},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-13}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{263,919},{104,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{229,1025},{124,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-7}</string>
                <key>spriteSize</key>
                <string>{118,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{219,259},{118,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{108,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{251,651},{108,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/birth/birth0114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{112,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{357,257},{112,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{116,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{353,139},{116,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/birth/birth0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{499,143},{120,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{107,1005},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-8}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{239,515},{114,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-10}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{259,787},{112,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-15}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{849,279},{132,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{849,1},{132,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,1}</string>
                <key>spriteSize</key>
                <string>{136,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,705},{136,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-3}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,859},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{119,527},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{102,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{115,289},{102,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{84,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{135,919},{84,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/cast_1/cast_10181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{499,265},{120,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{499,265},{120,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-17}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{363,1025},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-29}</string>
                <key>spriteSize</key>
                <string>{126,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{747,141},{126,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-26}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{847,715},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-43}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{625,405},{126,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-50}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{899,499},{110,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-53}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{801,1135},{94,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-52}</string>
                <key>spriteSize</key>
                <string>{98,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{693,807},{98,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-37}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{695,881},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-38}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{595,991},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-43}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{801,1033},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-48}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,929},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/die/die0218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-54}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{373,849},{102,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/die/die0224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-68}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{735,499},{106,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk/walk0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{227,379},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-9}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{219,131},{126,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk/walk0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-11}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{355,477},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-13}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{849,153},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-20}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{139,667},{136,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk/walk0131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-23}</string>
                <key>spriteSize</key>
                <string>{134,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{357,371},{134,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,703},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-24}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{697,1089},{96,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk/walk0137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{753,383},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{797,825},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-23}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{389,919},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-23}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{487,919},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-22}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{617,499},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{361,607},{124,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk/walk0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-11}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{487,493},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{96,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{849,401},{96,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{609,685},{92,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{739,611},{90,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{747,269},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{373,729},{118,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{493,387},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{479,729},{108,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{485,1129},{82,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{479,839},{78,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{891,825},{82,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{88,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{591,1093},{88,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{595,885},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{583,779},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{785,499},{110,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_down/walk_down0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{104,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{487,621},{104,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{162,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{521,1},{162,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{685,1},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{166,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{353,1},{166,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{176,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{194,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,133},{194,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,329},{196,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{154,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{115,133},{154,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{485,1025},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{799,929},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{697,985},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{116,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{857,611},{116,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{643,265},{138,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1005},{162,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{176,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,527},{176,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devilhighlord_fly/walk_up/walk_up0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{179,1},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>devilhighlord_fly.png</string>
            <key>size</key>
            <string>{982,1212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a49d45cb334087ecbd0caba6b28c44a:62f4e5c818dade52f72783f38107324a:50f36de356cff4075a97c8025aece6ed$</string>
            <key>textureFileName</key>
            <string>devilhighlord_fly.png</string>
        </dict>
    </dict>
</plist>
